# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
Auth_Service
auth_service

# Test binary
*.test

# Output of the go coverage tool
*.out

# Go workspace file
go.work
go.work.sum

# Environment variables
.env

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
